*{
    -fx-color-label-visible: false;
}

.label {
    -fx-font-size: 11pt;
    -fx-text-fill: black;
}

.table-view {
    -fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: #333;
    -fx-table-header-border-color: #333;
}

.table-view .column-header-background {
    -fx-background-color: white;
    -fx-font-family: "Segoe UI semibold", Helvetica, Arial, sans-serif;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 11pt;
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

#menuButton {
    -fx-background-color: #777;
    -fx-font-family: "Segoe UI semibold", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}


#menuButton:hover {
    -fx-background-color: #333;
}
